<div class="container">
<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
    
    <!-- PAGE HEADER -->
    <h3 class="page-header">Contact us!</h3>
    <p>Become out friend! Share your events and ideas! Have a good time!</p>
    <ul class="list-inline socials">
        <li><a href=""><i class="fa fa-facebook"></i></a></li>
        <li><a href=""><i class="fa fa-twitter"></i></a></li>
        <li><a href=""><i class="fa fa-vk"></i></a></li>
        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
    </ul>
    <hr/>
    <div><h3>Propose your event!</h3></div>
   
    <!-- FORM -->
    <!-- pass in the variable if our form is valid or invalid -->
    <form name="contactForm"  ng-submit="submitForm(contactForm.$valid)" novalidate> <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->

        <!-- NAME -->
        <div class="form-group" ng-class="{ 'has-error': contactForm.username.$invalid && !contactForm.username.$pristine }">
            <label>Your name*</label>
            <input type="text" name="username" class="form-control" placeholder="First name/Last name"ng-model="username" required/>
            <p ng-show="contactForm.username.$invalid && !contactForm.username.$pristine" class="help-block">Enter your name. Required!</p>
        </div>

        <!-- EMAIL -->
        <div class="form-group" ng-class = "{ 'has-error': userForm.email.$invalid && !userForm.email.$pristine }">
            <label>Your email*</label>
            <input type="email" name="email" class="form-control" placeholder="example@gmail.com" ng-model="email">
            <p ng-show="contactForm.email.$invalid && !contactForm.email.$pristine" class="help-block">Enter a valid email.</p>
        </div>



        <!--Hide Event info form fields, if email field is not valid -->
        <div ng-hide="contactForm.email.$pristine || contactForm.email.$invalid">
            <h4>Event info</h4>

            <!-- Event -->
            <div class="form-group" ng-class="{ 'has-error': contactForm.eventname.$invalid && !contactForm.eventname.$pristine }">
                <label>Event*</label>
                <input type="text" name="eventname" class="form-control" placeholder="Where people should come?" ng-model="event.eventname" required/>
                <p ng-show="contactForm.eventname.$invalid && !contactForm.eventname.$pristine" class="help-block">Enter event. Required!</p>
            </div>

            <!-- Place -->
            <div class="form-group" ng-class="{ 'has-error': contactForm.place.$invalid && !contactForm.place.$pristine }" >
                <label>Place*</label>
                <input type="text" name="place" class="form-control" placeholder="Where people should come?" ng-model="event.place" required/>
                <p ng-show="contactForm.place.$invalid && !contactForm.place.$pristine" class="help-block">Enter place. Required!</p>
            </div>

            <!-- Website -->
             <div class="form-group" ng-class="{ 'has-error': contactForm.weblink.$invalid && !contactForm.weblink.$pristine }">
                <label>Website*</label>
                <input type="text" name="weblink" class="form-control" placeholder="Website/Social link" ng-model="event.weblink" required/>
                <p ng-show="contactForm.weblink.$invalid && !contactForm.weblink.$pristine" class="help-block">Enter website. Required!</p>
            </div>

            <!-- Price -->
            <div class="form-group" ng-class="{ 'has-error': userForm.price.$invalid && !userForm.price.$pristine }" >
                <label>Price</label>
                <input type="text" name="price" class="form-control" placeholder="How much does it cost?" ng-model="event.price">
              
            </div>

            <!-- Description -->
            <div class="form-group">
                <label>Description</label>
                <input type="text" name="description" class="form-control" placeholder="Write short info about your event" ng-model="event.description">
                
            </div>

        </div>
        
        
        <!-- SUBMIT BUTTON -->
        <button type="submit" class="btn btn-primary" ng-disabled="contactForm.$invalid">Submit</button>
        
    </form>
    <hr/>
</div><!-- col-sm-8 -->
</div><!-- /container -->